.layout_header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242424;
  z-index: 100;
  
  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: inherit;
  
    .header_logo {
      padding: 0 3vh;
      font-weight: 500;
      z-index: 10;
      color: white;
    }
  
    .header_hamburger {
      width: 14vh;
      height: 6rem;
      position: relative;
      background: transparent;
      z-index: 10;
  
      > span:first-child {
        top: 1rem;
      }
  
      > span {
        display: block;
        width: 1.6rem;
        height: 0.2rem;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        transition: left 0.32s;
      }
  
      > span:last-child {
        bottom: 1rem;
      }
    }
  
    .header_navigation {
      display: flex;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: -100%;
      background-color: #212121;
      transition: right 0.3s;
  
      .navigation_list {
        display: inherit;
        width: 100%;
        height: inherit;
        list-style: none;
  
        .list_item {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: inherit;
          height: inherit;
  
          .item_link {
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            width: inherit;
            height: inherit;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 0.1vh;
            cursor: pointer;
  
            .item_modal {
              background-color: transparent;
              color: #e6ba37;
              width: inherit;
              height: inherit;
              position: relative;
              text-align: center;
              text-transform: uppercase;
              font-size: inherit;
              letter-spacing: inherit;
              cursor: pointer;
            }
  
            .item_logout {
              background-color: transparent;
              width: inherit;
              height: inherit;
              position: relative;
              text-align: center;
              text-transform: uppercase;
              font-size: inherit;
              letter-spacing: inherit;
              color: #fff;
              cursor: pointer;
            }
          }
  
          @media screen and (min-width: 1024px) {
            .item_link {
              width: auto;
              padding: 0 1vw;
              font-size: 0.8rem;
              letter-spacing: 0.1vh;
              color: #fff;
            }
  
            .item_link:after {
              content: "";
              display: block;
              width: 0;
              height: 0.25vh;
              margin: auto;
              position: absolute;
              top: 0;
              right: 0;
              bottom: -3.8vh;
              left: 0;
              background: black;
              transition: width 0.32s;
            }
          }
        }
  
        @media screen and (min-width: 1024px) {
          .list_item {
            width: auto;
            color: white;
          }
        }
      }
  
      @media screen and (min-width: 1024px) {
        .navigation_list {
          width: auto;
          padding: 0 2vw;
        }
      }
    }
  
    @media screen and (min-width: 1024px) {
      .header_hamburger {
        display: none;
      }
  
      .header_navigation {
        width: auto;
        position: static;
        transition: none;
        background: transparent;
      }
    }
  }
}
  
.is-navigation-active {
  .header_container {
    .header_hamburger {
      > span:nth-child(2) {
        left: -1rem;
      }
    }
  
    .header_navigation {
      right: 0;
  
      .navigation_list {
        padding-top: 14vh;
        flex-direction: column;
  
        .list_item {
          font-weight: 500;
          color: white;
        }
  
        .item_link {
          color: white;
  
          .item_modal {
            color: #e6ba37;
          }
  
          .item_logout {
            color: white;
          }
        }
      }
    }
  }
}